<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thêm giao dịch</title>
</head>
<body>
    <form method="POST">
        Số tiền:<br>
        <input type="number" name="expense"><br>
        Nhóm:<br>
        <input type="text" name="category"><br>
        Ghi chú:<br>
        <input type="text" name="note"><br>
        Thời gian:<br>
        <input type="text" name="date"><br>
        Chọn ví:<br>
        <input type="text" name="wallet" value="Tiền mặt"><br>
        <br>
        Income/Outcome:<br>
        <input type="text" name="inout"><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>