<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Page</title>
</head>
<body>
    <form method="POST">
        Số tiền:<br><br>
        <input type="text" name="edit_expense" value=""><br><br>
        Nhóm:<br><br>
        <input type="text" name="edit_category" value=""><br><br>
        Ghi chú:<br><br>
        <input type="text" name="edit_note" value=""><br><br>
        Thời gian:<br><br>
        <input type="text" name="edit_date" value=""><br><br>
        Chọn ví:<br><br>
        <input type="text" name="edit_wallet" value=""><br><br>
        Income/Outcome:<br><br>
        <input type="text" name="in_outcome" value=""><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>